<p>sistema3 works!</p>
<div>

      

</div>
<div>
    <label for="numero1">Quantas incognitas?:</label>
    <input type="number" id="numero1" [(ngModel)]="ordemx">
  </div>
  <div>
    <label for="numero2">Número 2:</label>
    <input type="number" id="numero2" [(ngModel)]="numero2">
  </div>
  <div>
    <button (click)="MetodoDeGauss()">Escalonamento</button>
  </div>
  <div>
    <button (click)="Calcular()">Calcular</button>
  </div>
  <div>
    <p>Resultado: {{ resultado }}</p>
  </div>
  <app-gerador-matrix [matriz]="matrizTeste" [readonly]="false"></app-gerador-matrix>
  <div *ngIf="matriz.length > 0">
    <table>
      <caption></caption>
      <tr>
        <th></th>
      </tr>
      <tr *ngFor="let row of matriz; let i = index">
        <td *ngFor="let col of row; let j = index">
          <input type="text" [value]="matriz[i][j]" (change)="atualizarValor($event, i, j)" [readonly]="readonly">
        </td>
      </tr>
  
    </table>
  </div>
  

