input{
  width: 50px; /* Largura de 50px, ajuste conforme necessário */
}

.container {


  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table{
  margin: auto ;
}
