<div *ngIf="matriz.length > 0">
  <table>
    <caption></caption>
    <tr>
      <th></th>
    </tr>
    <tr *ngFor="let row of matriz; let i = index">
      <td *ngFor="let col of row; let j = index">
        <input type="number" [value]="matriz[i][j]" (change)="atualizarValor($event, i, j)" [readonly]="readonly">

        <ng-container *ngIf="adicionarMais && j !== row.length - 1">x+</ng-container>
        <ng-container *ngIf="j === row.length - 2">=</ng-container>
      </td>
    </tr>

  </table>
</div>
